@using Eco.Controllers
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = SharedLocalizer["About"];
}
<h2>@ViewData["Title"]</h2>
<style>
    p {
        text-indent: 30px; /* Отступ первой строки в пикселах */
        text-align: justify;
    }
</style>
@{
    if (new RequestLocalizationOptions().DefaultRequestCulture.Culture.Name == "kk")
    {
        <h3>Алматы қаласы бойынша қоршаған орта сапасының нысаналы көрсеткіштерін белгілеу</h3>
        <p>
            Жоба «ЭКОСЕРВИС-С» ЖШС-мен орындалды (директор - Г.Д.Беркінбаев, IASEB-тің корреспондент мүшесі), «Алматы үшін қоршаған орта сапасының нысаналы көрсеткіштерін белгілеу» КМУ тапсырысы бойынша (келісім-шарт № 53 C / K 2017-07-20 аралығында).
        </p>
        <p>
            Жобаның мақсаты - оның дамуын ескере отырып, Алматы қаласы бойынша қоршаған ортаға әсер ететін компоненттердің қазіргі жағдайы мен болжамды бағалауын талдау және осы негізде 2018-2025 жылдарға арналған қоршаған орта сапасының нысаналы көрсеткіштерін белгілеу.
        </p>
        <p>
            Жұмыстар қоршаған орта сапасының нысаналы көрсеткіштерін айқындау ережесіне (ҚР Энергетика министрінің №145 бұйрығы. 2015 жылғы 26 ақпандағы Қазақстан Республикасы Әділет министрлігінде тіркелген, 2015 жылғы 29 сәуірдегі № 10869) сәйкес жүргізілді.
        </p>
        <p>
            Қоршаған орта сапасының нысаналы көрсеткіштері қоршаған орта сапасының біртіндеп жақсару қажеттілігін ескере отырып, белгілі бір уақыт кезеңінде қоршаған ортаның стандартталған параметрлерінің барынша жоғары деңгейін сипаттайтын көрсеткіштер болып табылады (ЕС 24-бабы).
        </p>
        <p>
            Экологиялық кодекске сәйкес, Алматы қаласы бойынша қоршаған орта сапасының мақсаттарын белгілеу бүкіл қала бойынша экологиялық сапа стандарттарына кезең-кезеңмен жетуді, экологиялық қауіпсіздікті және халықтың денсаулығына қауіп-қатерді азайтуды қамтамасыз етуі тиіс (ЕС 24-бабы).
        </p>
        <p>
            Жоба қолданыстағы мониторинг жүйелері талдау, қаланың түрлі бөліктеріндегі қоршаған ортаның экологиялық жағдайын аспаптық өлшеу арнайы маршруттау зерттеулер (ауада, жер үсті сулары, топырақ), стационарлық және жылжымалы шығарындылар көздерінің бағалау, модельдеу, соның ішінде жұмыс айтарлықтай мөлшерін, жүзеге асырылды жылы жерүсті және жерасты тау-аңғары айналымының ықпалын ескергенде, оның ішінде ластағыш заттардың беткі концентрациясы, талдау қолданыстағы қатты қалдықтарды басқару жүйесін ОД және жер жамылғысы бағалау, Алматы және көрші аумақтарды экологиялық аймақтарға бөлу, қоршаған орта сапасының нысаналы көрсеткіштерін дамыту және оларға қол жеткізу бойынша бірқатар шаралар, сондай-ақ геоақпараттық жүйені қалыптастыру.
        </p>
        <p>
            Алматы қаласында өткізілген күрделі экологиялық зерттеулердің қорытындысы бойынша, мүмкіндігінше тезірек шешілуі қажет негізгі проблемалар анықталды: жалпы және кейбір аудандардағы ауаның ластануы, жер үсті су объектілерінің ластануы (ең алдымен, рекреациялық су объектілерінің бактериологиялық мәселелері), бағбандықтың жеткіліксіз деңгейі (халықты жалпы пайдаланудағы жасыл аймақтармен қамтамасыз етудің төмен көрсеткіштері), қатты тұрмыстық қалдықтардың жеткіліксіз пайдаланылуы.
        </p>
        <p>
            Жоғарыда аталған экологиялық проблемаларды біртіндеп шешу үшін белгілі бір уақыт кезеңінде экологиялық параметрлердің барынша жоғары деңгейін сипаттайтын экологиялық сапа көрсеткіштері әзірленді. Мақсаттардың дамуы Экологиялық кодекстің талаптарына негізделді, оған сай жалпы және кезеңмен қол жеткізуге болатын, сандық және сапалық параметрлермен сипатталатын, бақыланатын және тексерілетін.
        </p>
        <p>
            Мақсатты индикаторлар ретінде атмосфералық ауаны, су ресурстарын, өсімдіктерді және коммуналдық қалдықтарды басқаруды сипаттайтын келесі параметрлер таңдалды.
        </p>
        <p>
            Мақсаттар 2018 жылдан 2025 жылға дейінгі кезеңде жасалды. Алматыдағы қоршаған орта сапасының нақтыланған мақсаттарына жету үшін қаладағы экологиялық жағдайды қалыптастырудың ерекшеліктері туралы білім деңгейін біртіндеп кеңейту және тереңдету, мақсатты индикаторларға қол жеткізу дәрежесін мониторингілеу, қоршаған ортаны қорғау іс-шараларының тиімділігін бағалау, түсіндіру және түзету, индикаторлар.
        </p>
        <p>
            Мемлекеттік органдардың мүдделі ұйымдарға, экологиялық қоғамдастыққа және жұртшылыққа нәтиже беру мүмкіндігімен мемлекеттік органдардың ағымдағы жұмысында маңызды құрал болуға тиіс «Алматы экологиялық мақсаттары» географиялық ақпараттық жүйесі (ГАЖ) әзірленді.
        </p>
        <p>
            Алматы қаласының мәслихаты (19-баптың 19-бабы) қоршаған ортаны қорғаудың сапалы көрсеткіштерін бекіткеннен кейін олар қаланың экологиялық жағдайын жақсартудың тиімді құралы болады.
        </p>
        <h3>Есеп үш томнан тұрады.</h3>
        <p><a href="~/pdf/Volume 1_Installing the TV.pdf" target="_blank">1-том - зерттеудің нәтижелері, 1-5 тараулар</a></p>
        <p><a href="~/pdf/Volume 2_Installing the TV.pdf" target="_blank">2 том - зерттеудің нәтижелері, 6-16 тараулар</a></p>
        <p><a href="~/pdf/Volume 3_Installing the TV.pdf" target="_blank">Том 3 - Өтініштер</a></p>
    }
    else
    {
        <h3>Установление целевых показателей качества окружающей среды для г. Алматы</h3>
        <p>
            Проект выполнен ТОО «ЭКОСЕРВИС-С» (директор - Беркинбаев Г. Д., к.б.н, член-корреспондент МАНЭБ) по заказу КГУ «Установление целевых показателей качества окружающей среды для г. Алматы» (договор № 53 С/К от 2017-07-20).
        </p>
        <p>
            Цель проекта - анализ текущего состояния и прогнозная оценка изменения качества компонентов окружающей среды на территории города Алматы с учетом его развития и установление на этой основе целевых показателей качества окружающей среды на период 2018 - 2025 годы.
        </p>
        <p>
            Работы проведены согласно Правилам определения целевых показателей качества окружающей среды (Приказ Министра энергетики Республики Казахстан от 26 февраля 2015 года № 145. Зарегистрирован в Министерстве юстиции Республики Казахстан 29 апреля 2015 года № 10869).
        </p>
        <p>
            Целевые показатели качества окружающей среды – это показатели, характеризующие предельный уровень нормируемых параметров окружающей среды на определенный период времени с учетом необходимости постепенного улучшения качества окружающей среды (ЭК Статья 24).
        </p>
        <p>
            В соответствии с экологическим кодексом, установление целевых показателей качества окружающей среды города Алматы должно обеспечить поэтапное достижение нормативов качества окружающей среды на всей территории города, экологическую безопасность и снижение рисков для здоровья населения (ЭК Статья 24).
        </p>
        <p>
            В рамках проекта был выполнен значительный объем работ, включавший анализ результатов существующих систем мониторинга, специальные маршрутные исследования с инструментальными замерами экологического состояния природных сред в различных районах города (атмосферный воздух, поверхностные воды, почва), оценку стационарных и передвижных источников выбросов загрязняющих веществ, моделирование приземных концентраций загрязняющих веществ, в том числе с учетом влияния горно-долинной циркуляции, анализ состояния поверхностных и подземных вод и растительного покрова, оценку существующей системы обращения с ТБО, экологическое зонирование города Алматы и сопредельных территорий, разработку целевых показателей качества окружающей среды и комплекса мероприятий по их достижению, формирование геоинформационной системы.
        </p>
        <p>
            На основании результатов проведенного комплексного исследования экологической ситуации в городе Алматы были выявлены основные проблемы, требующие скорейшего решения: загрязнение атмосферного воздуха в целом и в отдельных районах, загрязнение поверхностных водоемов (в первую очередь бактериологическое неблагополучие водоемов, используемых в рекреационных целях), недостаточный уровень озеленения (низкие показатели обеспеченности населения зелеными насаждениями общего пользования), недостаточная утилизация твердых бытовых отходов.
        </p>
        <p>
            Для постепенного разрешения указанных выше экологических проблем были разработаны целевые показатели качества окружающей среды, характеризующие предельный уровень нормируемых параметров окружающей среды на определенный период времени. Разработка целевых показателей основывалась на требованиях Экологического кодекса, согласно которому они должны быть достижимы в целом и поэтапно, характеризоваться количественными и качественными параметрами, быть контролируемыми и проверяемыми.
        </p>
        <p>
            В качестве целевых показателей выбраны следующие параметры, характеризующие состояние атмосферного воздуха, водных ресурсов, растительности, обращение с коммунальными отходами.
        </p>
        <p>
            Целевые показатели разработаны на период с 2018 по 2025 годы. Для достижения установленных целевых показателей качества окружающей среды города Алматы был сформирован План мероприятий, предусмотрен мониторинг степени достижения  целевых показателей с постепенным расширением и углублением знаний об особенностях формирования экологической ситуации в городе, оценкой эффективности проводимых природоохранных мероприятий, уточнением и корректировкой, в случае необходимости, целевых показателей.
        </p>
        <p>
            Разработана географическая информационная система (ГИС) «Целевые показатели окружающей среды города Алматы», которая должна стать важным инструментом в текущей работе государственных органов, с возможностью предоставления результатов заинтересованным организациям, экологической общественности и населению.
        </p>
        <p>
            После утверждения разработанных целевых показателей качества окружающей среды Маслихатом города Алматы (определено ЭК Статья 19.) они станут действенным инструментом по улучшению экологической ситуации в городе.
        </p>
        <h3>Отчет состоит из трех томов.</h3>
        <p><a href="~/pdf/Volume 1_Installing the TV.pdf" target="_blank">Том 1 – результаты исследования, главы 1-5</a></p>
        <p><a href="~/pdf/Volume 2_Installing the TV.pdf" target="_blank">Том 2 – результаты исследования, главы 6-16</a></p>
        <p><a href="~/pdf/Volume 3_Installing the TV.pdf" target="_blank">Том 3 - Приложения</a></p>
    }
}